.main {
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    overflow-y: scroll;
}

.navbar {
    position:fixed;
    bottom:0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_container {
    position:relative;
    border: 2px solid hotpink;
    box-shadow:0px 0px 5px 0px hotpink;
    border-bottom: none;
    padding: .5vw;
    display: flex;
    justify-content: center;
    /* visibility: hidden; */
    border-radius: 40px 40px 0px 0px;
}

.button {
    margin: 0 2.5vw 0 2.5vw;
    height:100px;
    width: 100px;
    border-radius: 50%;
  }
  
.button:hover{
    box-shadow:0px 0px 20px 5px hotpink;
    cursor: pointer;
}

.button_top {
    background-color: lime;
    box-shadow: 0px 0px 20px 5px lime;
    border: 2px solid lime;

}

.button_bottom {
    background-color: aqua;
    box-shadow: 0px 0px 20px 5px aqua;
    border: 2px solid aqua;
}

.navigate {
    background-color: hotpink;
    box-shadow:0px 0px 10px 1px hotpink;
    align-self: center;
    font-size: larger;
    padding: 5px 1vw;
    border-radius: 25px;
}

.navigate:hover {
    box-shadow:0px 0px 20px 5px hotpink;
}

.navigate_clicked {
    padding: 5px 1vw 2px 1vw;
    border-radius: 25px 25px 0 0;
}

.button_container_clicked {
    display:inline;
}