.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 80vw;
}

.hobby_row {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.last_row {
    margin-bottom: 11vh;
}

.hobby {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
    background: radial-gradient(
        circle,
        transparent,
        rgb(248, 244, 0)
      )
    rgb(248, 248, 106);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hobby1 {
    margin-right: 15vw;
}

.hobby2 {
    margin-left: 15vw;
}