.navbar {
    margin:0;
    padding:0;
    height: 100vh;
    width: 13vw;
    border-right: 2px solid limegreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 10vw;
    min-width: 20px;
    height: 5vh;
    min-height: 1.5em;
    background-color: aqua;
    border-radius: 15px;
    margin-right:10px;
    margin-left:10px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(4, 227, 227);
    /* height: 6vh; */
    width: 11vw;
}

