.main {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 6rem; */
  min-height: 100vh;
}

.face {
  margin-left: 5vw;
  margin-right: 3vw;
  position: relative;
  height:350px;
  width: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid hotpink;
}

.button {
  margin-left: 5vw;
  height:100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid hotpink;
}

.button:hover{
  box-shadow:0px 0px 5px 5px hotpink;
  cursor: pointer;

}

.button_top {
  background-color: lime;
  margin-bottom: 20vw;
}

.button_bottom {
  background-color: aqua;
  margin-top: 20vw;
}