.main {
  background-color: gradient ;
  display:flex;
  flex-direction: column;
}
.Navbar {
  width: 100vw;
  position: sticky;
  top: 0;
}
.scroll {
  width: 80vw;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}

.component {
  padding: 15px;
}
